<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VaDeBicicleta</title>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Vá de Bicicleta</h1>
        </div>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Serviços</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pessoas</td>
                </tr>
                <tr>
                    <td>Infraestrutura</td>
                </tr>
                <tr>
                    <td>Financeiro</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>