<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>inputs</title>
</head>
<body>
    <div class="container">
      <div class="page-header">
          <h1>{{ titulo }}</h1>
      </div>
      <form>
        <fieldset>
          <div class="form-group">
            <label for="ciclista">id Ciclista</label>
            <input type="text" id="ciclista" name="ciclista" class="form-control">
          </div>
          <div class="form-group">
            <label for="funcionario">id Funcionario</label>
            <input type="text" id="funcionario" name="funcionario" class="form-control">
          </div>
          <div class="form-group">
            <label for="bicicleta">id Bicicleta</label>
            <input type="text" id="bicicleta" name="bicicleta" class="form-control">
          </div>
          <div class="form-group">
            <label for="tranca">id Tranca</label>
            <input type="tranca" id="tranca" name="tranca" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        </fieldset>
      </form>
    </div>
</body>
</html>